@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: transparent !important;
  font-size: 16px;
}

#root {
  min-width: 800px;
  min-height: 500px;
  background-color: hsl(var(--nextui-background));
  border-radius: var(--nextui-radius-medium);
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 6px;
}

:hover::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: hsl(var(--nextui-foreground-300));
  transition: all .2s ease;
}
