@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  height: 7em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

a {
  font-weight: 500;
  color: #646cff;
}
